@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* =================== Header start here ==================== */

  /* =================== Header end here ====================== */
}

.active {
  color: #f57d05;
}
.active span {
  background-color: #f57d05;
  display: inline-block;
  transform: translate(0);
}
